<div style="height: 20px;">
</div>
<div class="card" style="width: 100%;">
    <div class="alert alert-success" role="alert" *ngIf="success">
        {{success}}
      </div>
    <div class="card-header">
        Artists
        <button class="primary float-right" (click)="openModal()">Add Artist</button>
    </div>
    <div class="card-body">
        <p-table [value]="artists">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Album Name</th>
                    <th>Release Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-artist>
                <tr>
                    <td>{{artist.id}}</td>
                    <td>{{artist.artist_name}}</td>
                    <td><button class="btn btn-primary btn-sm" (click)="edit(artist)">Edit</button></td>
                    <td><button class="btn btn-danger btn-sm" (click)="delete(artist.id)">Delete</button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<ng-template #artistFormModal let-modal let-c="close" let-d="dismiss">
    <form [formGroup]="artistForm" (ngSubmit)="submitArtist()">
        <div class="modal-header">
            <h4 class="modal-title text-center fw-bold mt">
                Create Artists
            </h4>
            <button type="button" class="close" (click)="d('Cross click')">&times;</button>
        </div>
        <div class="modal-body bg-gray-lighter">
            <div class="row">
                <div class="col-12 form-group">
                    <label for="artist_name">Artist Name</label>
                    <input type="text" class="form-control" id="artist_name" formControlName="artist_name"
                        placeholder="Artist Name" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="float-right">
                <button type="button" class="btn btn-danger" (click)="c('Close click')">
                    <i class="fa fa-times" aria-hidden="true"></i> Close
                </button>
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
            </div>
        </div>
    </form>
</ng-template>